.items-container{
    margin: 20px;
}

.card-content{
    display: flex; 
    justify-content: space-between;
}

.image-card{
border: 3px solid;
max-width: auto;
max-height: auto;
}

.delete-item{
    background-color: #77453C;
    color: white;
}

.edit-item{
    background: #77453C;
    color: white;
}

.btn-primary,
 .cancel{
    background: #77453C;
    color: white;
}

.addItem,
.buttonNote {
    background: #77453C;
    color: white;
}